.YBody {
    background-color: #fdebd3;
    background-image: url("company.png");
    background-repeat: no-repeat;
    background-position: inherit;
   
  
   
}



.formInside {
    
}
.formInside {
    
}