.QBody { 
    background-color: #fdebd3;
    background-image: url("sales.png");
    background-repeat: no-repeat;
    background-position: inherit;
   
  
   
}
.UShape {
    border-radius: 7px

}
.formInside {
    
}
.formInside {
    
}
body {
  background-color: black;
  font-family: cursive;
}

