.WBody {
    background-color: #fdebd3;
    background-image: url("sear.png");
    background-repeat: no-repeat;
    background-position: inherit;
   
  
   
}
.bradius {
    Border-radius: 6px;
}
.formInside {
    
}
.formInside {
    
}
