.ZBody {
    background-color: #fdebd3;
    background-image: url("out.png");
    background-repeat: no-repeat;
    background-position: inherit;
   
  
   
}
.shape {
    border-radius: 7px;
    background-color: tan;
}


.formInside {
    
}
.formInside {
    
}