.VBody { 
    background-color: #fdebd3;
    background-image: url(stockin.png);
    background-repeat: no-repeat;
    background-position: inherit;
   
  
   
}
.formInside {
    
}
.formInside {
    
}
.Pshape {
    border-radius: 7
}

